* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    background: #FD6E0A;
    border-style: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background: white;
    color: #FD6E0A;
    border: 0.5px solid rgba(0, 0, 0, 0.272);
    cursor: pointer;
}

.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2 {
    font-size: 35px;
    padding-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    padding-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

.text-center{
    text-align: center;
}

/* header & hero section related style */
#header {
    background-color: #FFF8F3;
    background: url('images/developer.png'), url('images/header_bg.png'), #FFF8F3;
    background-position: 30px 38px, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

.header-container{
    max-width: 100%;
    margin: 0 auto;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;
}

.logo h2 span {
    color: #FD6E0A;
}

nav {
    max-width: 71%;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 50px;
    align-items: center;
}

nav .menu a {
    font-size: 20px;
    font-weight: 500;
    color: #474747;
    text-decoration: none;
}

#banner {
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content {
    max-width: 585px;
}

.banner-content h3 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.banner-content h1 {
    font-size: 70px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-img img {
    max-width: 584px;
    vertical-align: middle;
}


/* About section related styles */
.about-container {
    max-width: 71%;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    border-radius: 10px;
    margin-top: 130px;
    padding: 131px 140px;
}

.about-container .about-info {
    display: flex;
    justify-content: space-between; 
    /* gap: 30px; */
}

.about-info .info-card p {
    font-size: 16px;
    line-height: 30px;
    color: #757575;
}

.about-info .info-card h4{
    font-size: 16px;
}

/* Skills section related styles */
.skill-container{
    max-width: 71%;
    margin: 0 auto;
    margin-top: 130px;
}

.skill-box {
    display: flex;
    gap: 24px; 
}

.skill-box .skill-card{
    padding: 20px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    max-width: 267px;
}

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p{
    font-size: 16px;
        color: #757575;
        line-height: 25px;
}

/* resume section related styles */
.resume-container{
    margin-top: 130px;
}

#resume .resume-txt-container{
    display: flex;
    gap: 50px;
    max-width: 71%;
    margin: 40px auto 0;
}

.resume-container hr{
    margin: 30px 0;
}

#resume .resume-txt-container .section-title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}

.resume-card{
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}

.resume-card .card-info {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}

.resume-card .card-txt {
    font-size: 14px;
    line-height: 25px;
    color: #757575;
}

/* footer section related styles */
#footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}

.footer-container{
    max-width: 71%;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}

.footer-container .social{
    max-width: 562px;
}

.footer-container h2{
    color: #181818;
    font-size: 35px;
    margin-bottom: 16px;
}

.footer-container .social p{
    color: #474747;
    line-height: 25px;
    font-size: 10px;
    margin-bottom: 30px;
}

.footer-container .icons a{
    margin-right: 24px;
}

.footer-container form input[type='text'], .footer-container form textarea {
    width: 461px;
    padding: 18px 30px;
    margin-bottom: 24px;
    border-style: none;
    border-radius: 5px;
    color: #757575;
}



